
#auth-form {
    margin: 100px auto auto;
    width: 400px;
    padding: 5px 10px 5px 10px;
}

#auth-form img {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#auth-form-body {
    margin-top: 25px;
    display: block;
}

.btn-primary {
    background: #71c720;
    border-color: #71c720;
    border-radius: 1px;
}

.btn-primary:hover {
    background: #71c720;
    border-color: #71c720;
}

.btn-primary:active {
    background: #71c720;
    border-color: #71c720;
}

.form-control {
    border-radius: 1px;
}