<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{img/favicon.ico}" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/nanobar.min.js}"></script>
</head>
    <body>
        <div th:replace="fragments/header-light :: header-light">
            <!-- Header will be inserted here -->
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <h2 class="patient-home-header" th:text="${'Welcome '+user.firstName+'!'}"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <h4 class="patient-home-subtitle">You have 6 exercises to complete today.</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <a th:href="@{/assignments}">
                        <div class="btn btn-primary btn-block patient-start-button">
                            <h4>Start</h4>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center" id="completion-days">
                <h6 class="patient-home-subtitle" style="font-size: 20px">You've completed your exercises 4 out of the last 7 days</h6>
            </div>
            <div class="row justify-content-center" id="completion-check">
                <div class="col-auto">
                    <p align="center"><i class="far fa-check-square"></i><br>Monday</p>
                </div>
                <div class="col-auto">
                    <p align="center"><i class="far fa-square"></i><br>Tuesday</p>
                </div>
                <div class="col-auto">
                    <p align="center"><i class="far fa-square"></i><br>Wednesday</p>
                </div>
                <div class="col-auto">
                    <p align="center"><i class="far fa-check-square"></i><br>Thursday</p>
                </div>
                <div class="col-auto">
                    <p align="center"><i class="far fa-check-square"></i><br>Friday</p>
                </div>
                <div class="col-auto">
                    <p align="center"><i class="far fa-square"></i><br>Saturday</p>
                </div>
                <div class="col-auto">
                    <p align="center"><i class="far fa-check-square"></i><br>Sunday</p>
                </div>
            </div>
        </div>
        <div id="footer">
            <a class="pull-left">© 2018 TheraMe, Inc.</a>
            <a class="pull-right">About Us</a>
        </div>
    </body>
</html>