<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TheraMe Home</title>
    <link href="/img/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/nanobar.min.js}"></script>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header :: header">
    <!-- Header will be inserted here -->
</div>
<div class="container text-center">
    <div>
        <h1 class="pt-home-header" th:text="${'Welcome Back, '+user.firstName+'!'}"></h1>
    </div>

    <form action="#" method="get">
        <div class="form-row justify-content-center">
            <div class="col-6">
                <input type="text" placeholder="Search..." class="form-control" id="query" />
            </div>
            <div class="col-2">
                <input class="btn btn-primary btn-block" name="submit" type="submit" value="Search"/>
            </div>
        </div>
    </form>

    <div class="container">
        <button type="button" class="btn btn-primary btn-success navButtons" onclick="window.location.href='/videos'">
            <i class="fas fa-video fa-3x"></i><br>Video Library
        </button>
        <button type="button" class="btn btn-primary btn-success navButtons" onclick="window.location.href='/users'">
            <i class="fas fa-list-ul fa-3x"></i><br>Patient List
        </button>
        <button type="button" class="btn btn-primary btn-success navButtons" onclick="window.location.href='/reports'">
            <i class="fas fa-book fa-3x"></i><br>Patient Reports
        </button>
    </div>

    <div class="container">
        <button type="button" class="btn btn-primary btn-success navButtons" onclick="window.location.href='/upload'">
            <i class="fas fa-upload fa-3x"></i><br>Upload a Video
        </button>
        <button type="button" class="btn btn-primary btn-success navButtons" onclick="window.location.href='/register'">
            <i class="fas fa-plus fa-3x"></i><br>Add a Patient
        </button>
    </div>
</div>

<div id="footer">
    <img src="" id="footer-img" th:src="@{img/full-logo-black-large.png}"/>
    <a class="pull-left">© 2018 TheraMe, Inc.</a>
    <a class="pull-right">About Us</a>
</div>
</body>
</html>