<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link href="/img/favicon.ico" rel="shortcut icon"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header">
            <!-- Header will be inserted here -->
        </div>
        <div class="container">
            <div class="row justify-content-center" id="pt-home-header">
                <h1 th:text="${'Welcome Back, '+ user.firstName + '!'}"></h1>
            </div>

            <div class="row justify-content-center" id="pt-home-search" th:if="${user.type != T(com.therame.model.User.Type).ADMIN || user.provider != null}">
                <div class="col-12">
                    <form action="#" method="get">
                        <div class="form-row justify-content-center">
                            <div class="col-6">
                                <input type="text" placeholder="Search patients..." class="form-control" id="query" />
                            </div>
                            <div class="col-2">
                                <input class="btn btn-primary btn-block" name="submit" type="submit" value="Search"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row justify-content-center" id="nav-button-div">
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='videos'"><i class="fas fa-video fa-2x"></i><br>Video Library</button>
                </div>
                <div th:if="${user.type != T(com.therame.model.User.Type).ADMIN || user.provider != null}" class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='users'"><i class="fas fa-users fa-2x"></i><br>Patient List</button>
                </div>
                <div th:if="${user.type != T(com.therame.model.User.Type).ADMIN || user.provider != null}" class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='reports'"><i class="fas fa-book fa-2x"></i><br>Patient Reports</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='upload'"><i class="fas fa-upload fa-2x"></i><br>Upload a Video</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='register'"><i class="fas fa-user-plus fa-2x"></i><br>Add a User</button>
                </div>
                <div th:if="${user.type == T(com.therame.model.User.Type).ADMIN && user.provider == null}" class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='registerProvider'"><i class="fas fa-plus fa-2x"></i><br>Add a Provider</button>
                </div>
                <div th:if="${user.type == T(com.therame.model.User.Type).ADMIN && user.provider == null}" class="col-auto">
                    <button type="button" class="btn btn-outline-primary navButtons" onclick="window.location.href='providers'"><i class="fas fa-building fa-2x"></i><br>Providers List</button>
                </div>
            </div>
        </div>

        <div id="footer">
            <a class="pull-left">© 2018 TheraMe, Inc.</a>
            <a class="pull-right">About Us</a>
        </div>
        <script th:src="@{/js/pt_home.js}"></script>
    </body>
</html>