<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <link th:href="@{img/favicon.ico}" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/nanobar.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
    <!-- Header will be inserted here -->
</div>
<div class="container">
    <div class="row divider-bottom" id="results-header">
        <h3>Reports</h3>
    </div>
    <table class="table">
        <tbody id="report-table-body">
        <!-- Populated by JS -->
        </tbody>
    </table>
</div>
<table class="hidden">
    <tbody>
    <tr id="report-entry-template">
        <td>
            <a id="report-entry-name">Name</a>
        </td>
        <td>
            <a id="report-entry-day1">Day 1</a>
        </td>
        <td>
            <a id="report-entry-day2">Day 2</a>
        </td>
        <td>
            <a id="report-entry-day3">Day 3</a>
        </td>
        <td>
            <a id="report-entry-day4">Day 4</a>
        </td>
        <td>
            <a id="report-entry-day5">Day 5</a>
        </td>
        <td>
            <a id="report-entry-day6">Day 6</a>
        </td>
        <td>
            <a id="report-entry-day7">Day 7</a>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/reports.js}"></script>
</body>
</html>