<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Video Library</title>
        <link th:href="@{img/favicon.ico}" rel="shortcut icon"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script th:src="@{/js/nanobar.min.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img id="header-logo" src="" th:src="@{img/full-logo-white-large.png}"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:text="${user.firstName + ' ' + user.lastName}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <form action="#" method="get">
                <div class="form-row justify-content-center">
                    <div class="col-6">
                        <input type="text" placeholder="Search..." class="form-control" id="query" />
                    </div>
                    <div class="col-2">
                        <input class="btn btn-primary btn-block" name="submit" type="submit" value="Search"/>
                    </div>
                </div>
            </form>
            <div class="row divider-bottom" id="results-header">
                <h3>Results</h3>
            </div>
            <div id="video-container">
                <!-- Populated by JS -->
            </div>
        </div>

        <!-- Template for use in JS, hidden by default -->
        <div class="col-3 hidden" id="video-column-template">
            <a href="" id="video-href-template">
                <div class="thumbnail-container">
                    <img class="img-fluid" src="" id="video-thumbnail-template" />
                    <span class="video-timestamp" id="video-timestamp-template">01:00</span>
                </div>
                <span id="video-title-template">A Video Title!</span>
            </a>
        </div>
        <script th:src="@{/js/videos.js}"></script>
    </body>
</html>