<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Video</title>
    <link th:href="@{img/favicon.ico}" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
    <body>
        <div id="header">
            <a th:href="@{/}">
                <img id="header-logo" src="" th:src="@{img/full-logo-white-large.png}"/>
            </a>
            <a id="header-username" th:text="${user.firstName + ' ' + user.lastName}"></a>
            <i class="fa fa-upload" aria-hidden="true"></i>
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <video id="video-player" width="854" height="480" controls="controls">
            <source src="/api/video" th:src="@{/api/video(path=${videoId})}" type="video/mp4"/>
        </video>
    </body>
</html>